page-series-tv {
  .content {
    background-image: url("../assets/img/bg.jpg")
  }
  .cards {
    margin-bottom: 2.3rem;
  }
  .post-card-title {
    font-size: 1.6rem;
    font-weight: 300;
    text-align: center;
    color: #797979;
  }
}
